.container {
    width: 1024px;
    height: 768px;
    position: relative;
    margin: 0 auto 40px;
    border: 1px solid #CCC;
    perspective: 800px;
    background-image: url("bg.jpg");

}

.card {
    position: absolute;
    width: 172px;
    height: 241px;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card.flipped {
    transform: rotateY( 180deg );
}

.front {
    position: absolute;
    width: 172px;
    height: 241px;
    backface-visibility: hidden;

}

.back {
    position: absolute;
    width: 172px;
    height: 241px;
    backface-visibility: hidden;
    background-position: -556px -413px;

    transform: rotateY( 180deg );
}

.deck {
    background-image: url("cards.jpg");
}

.royalflush {
    background-image: url("royalflush.gif");
    position: absolute;
    width: 371px;
    height: 280px;
    left: 100px;
    top: 100px;
}

#Ace {
    background-position: -9px -413px;
}
#King {
    background-position: -191px -413px;
}

