

#idbg {
    position: relative;
    width: 1024px;
    height: 500px;
    background-image: url("bg.jpg");
}



.deck1 {
    background-image: url("cards.jpg");
}

.AceSpade {
    position: absolute;
    background-position: -9px -413px;
    width: 172px;
    height: 241px;
    top: 100px;
    left: 10px;

}

.KingHeart {
    position: absolute;
    background-position: -191px -413px;
    width: 172px;
    height: 241px;
    top: 100px;
    left: 210px;

}

.Joker {
    position: absolute;
    background-position: -374px -413px;
    width: 172px;
    height: 241px;
    top: 100px;
    left: 410px;

}

.Back {
    position: absolute;
    background-position: -556px -413px;
    width: 172px;
    height: 241px;
    top: 100px;
    left: 610px;

}

/*
.deck:hover {
    transform: rotate(90deg);
}
*/
