.card-sm {
    position: absolute;
    transition: transform 1s;
    transform-style: preserve-3d;
    width: 52px;
    height: 72px;
}

.card-sm.flipped {
    transform: rotateY(180deg);
}

.front-sm {
    position: absolute;
    width: 52px;
    height: 72px;
    backface-visibility: hidden;
}

.back-sm {
    position: absolute;
    width: 52px;
    height: 72px;
    backface-visibility: hidden;

    background-position: -131px -332px;
    transform: rotateY(180deg);
}

#Ace-sm {
    background-position: -9px -9px;
}

#King-sm {
    background-position: -9px -9px;
}


/*
.deck:hover {
    transform: rotate(90deg);
}
*/
